#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mt {
    tapping-term-ms = <200>;
    quick-tap-ms = <175>;
    require-prior-idle-ms = <150>;
    flavor = "balanced";
};

&lt { tapping-term-ms = <200>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    esc_tilde: esc_tilde {
        compatible = "zmk,behavior-mod-morph";
        label = "ESC_TILDE";
        bindings = <&kp ESC>, <&kp TILDE>;

        #binding-cells = <0>;
        mods = <(MOD_LSFT)>;
    };

    behaviors {
    };

    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&soft_off>;
            key-positions = <14 28 40>;
            layers = <3>;
        };

        grave {
            bindings = <&kp GRAVE>;
            key-positions = <0 13>;
        };

        L3 {
            bindings = <&mo 3>;
            key-positions = <60 56 53>;
        };

        F11_step_into {
            bindings = <&kp F11>;
            key-positions = <10 12>;
        };

        F12_debug {
            bindings = <&kp F12>;
            key-positions = <11 12>;
        };

        exclm {
            bindings = <&kp EXCLAMATION>;
            key-positions = <1 14>;
        };

        at {
            bindings = <&kp AT>;
            key-positions = <2 15>;
        };

        hash {
            bindings = <&kp HASH>;
            key-positions = <3 16>;
        };

        dollar {
            bindings = <&kp DOLLAR>;
            key-positions = <4 17>;
        };

        percent {
            bindings = <&kp PERCENT>;
            key-positions = <5 18>;
        };

        caret {
            bindings = <&kp CARET>;
            key-positions = <7 20>;
        };

        amp {
            bindings = <&kp AMPERSAND>;
            key-positions = <8 21>;
        };

        star {
            bindings = <&kp ASTERISK>;
            key-positions = <9 22>;
        };

        l-paren {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <10 23>;
        };

        r-paren {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <11 24>;
        };

        arrow {
            bindings = <&arrow>;
            key-positions = <63 49>;
            layers = <0>;
        };

        eq_arrow {
            bindings = <&eq_arrow>;
            key-positions = <62 49>;
            layers = <0>;
        };

        F_layer {
            bindings = <&tog 4>;
            key-positions = <53 54>;
        };
    };

    macros {
        arrow: arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp MINUS &kp GT>;
            label = "ARROW";
        };

        eq_arrow: eq_arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp GT>;
            label = "EQ_ARROW";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        QWERTY {
            bindings = <
&esc_tilde      &kp N1            &kp N2        &kp N3        &kp N4  &kp N5         &kp UP_ARROW     &kp N6       &kp N7  &kp N8     &kp N9   &kp N0            &kp BACKSPACE
&kp TAB         &kp Q             &kp W         &kp E         &kp R   &kp T          &kp DOWN_ARROW   &kp Y        &kp U   &kp I      &kp O    &kp P             &kp BSLH
&kp LEFT_SHIFT  &mt LEFT_SHIFT A  &kp S         &kp D         &kp F   &kp G          &kp LEFT_ARROW   &kp H        &kp J   &kp K      &kp L    &kp SEMI          &kp APOS
&kp LCTRL       &kp Z             &kp X         &kp C         &kp V   &kp B          &kp RIGHT_ARROW  &kp N        &kp M   &kp COMMA  &kp DOT  &kp FSLH          &kp ENTER
&none           &none             &kp LEFT_GUI  &kp LEFT_ALT  &mo 1   &lt 1 SPACE    &kp ENTER        &lt 2 SPACE  &mo 2   &kp HOME   &kp END  &mt RCTRL DELETE
            >;

            display-name = "L0";
        };

        NUMS {
            bindings = <
&trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5       &mmv MOVE_UP     &none   &none   &kp STAR  &kp MINUS  &kp EQUAL  &trans
&trans  &trans  &trans  &trans  &trans  &kp LANG1    &mmv MOVE_DOWN   &none   &kp N7  &kp N8    &kp N9     &trans     &trans
&trans  &trans  &trans  &trans  &trans  &kp LANG2    &mmv MOVE_LEFT   &none   &kp N4  &kp N5    &kp N6     &kp EQUAL  &trans
&trans  &trans  &trans  &trans  &trans  &kp LANG3    &mmv MOVE_RIGHT  &none   &kp N1  &kp N2    &kp N3     &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans       &mkp LCLK        &trans  &trans  &kp N0    &trans     &trans
            >;

            display-name = "L1";
        };

        vim-mo {
            bindings = <
&kp TILDE  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5    &mmv MOVE_UP     &kp F6            &kp F7             &kp F8           &kp F9         &kp F10  &trans
&trans     &trans  &trans  &trans  &trans  &trans    &mmv MOVE_DOWN   &kp LESS_THAN     &kp LEFT_BRACKET   &kp LEFT_BRACE   &trans         &trans   &trans
&trans     &trans  &trans  &trans  &trans  &trans    &mmv MOVE_LEFT   &kp LEFT          &kp DOWN           &kp UP           &kp RIGHT      &trans   &trans
&trans     &trans  &trans  &trans  &trans  &trans    &mmv MOVE_RIGHT  &kp GREATER_THAN  &kp RIGHT_BRACKET  &kp RIGHT_BRACE  &trans         &trans   &trans
&trans     &trans  &trans  &trans  &trans  &trans    &mkp LCLK        &trans            &trans             &kp PAGE_UP      &kp PAGE_DOWN  &trans
            >;

            display-name = "L2";
        };

        BT {
            bindings = <
&trans  &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &mmv MOVE_UP     &trans           &trans           &trans           &trans           &trans       &trans
&trans  &bt BT_CLR    &bt BT_CLR_ALL  &trans        &trans        &trans          &mmv MOVE_DOWN   &rgb_ug RGB_ON   &rgb_ug RGB_EFF  &rgb_ug RGB_BRI  &rgb_ug RGB_SPI  &trans       &trans
&trans  &out OUT_USB  &out OUT_BLE    &trans        &trans        &trans          &mmv MOVE_LEFT   &rgb_ug RGB_OFF  &rgb_ug RGB_EFR  &rgb_ug RGB_BRD  &rgb_ug RGB_SPD  &trans       &trans
&trans  &sys_reset    &trans          &bootloader   &trans        &trans          &mmv MOVE_RIGHT  &trans           &trans           &sys_reset       &soft_off        &bootloader  &trans
&trans  &trans        &trans          &trans        &trans        &trans          &mkp LCLK        &trans           &trans           &trans           &trans           &trans
            >;

            display-name = "L3";
        };

        F_QWERTY {
            display-name = "L0_F";
            bindings = <
&esc_tilde      &kp F1            &kp N2        &kp N3        &kp N4  &kp N5         &kp UP_ARROW     &kp N6       &kp N7  &kp N8     &kp N9   &kp N0            &kp BACKSPACE
&kp TAB         &kp Q             &kp W         &kp E         &kp R   &kp T          &kp DOWN_ARROW   &kp Y        &kp U   &kp I      &kp O    &kp P             &kp BSLH
&kp LEFT_SHIFT  &mt LEFT_SHIFT A  &kp S         &kp D         &kp F   &kp G          &kp LEFT_ARROW   &kp H        &kp J   &kp K      &kp L    &kp SEMI          &kp APOS
&kp LCTRL       &kp Z             &kp X         &kp C         &kp V   &kp B          &kp RIGHT_ARROW  &kp N        &kp M   &kp COMMA  &kp DOT  &kp FSLH          &kp ENTER
&none           &none             &kp LEFT_GUI  &kp LEFT_ALT  &mo 1   &lt 1 SPACE    &kp ENTER        &lt 2 SPACE  &mo 2   &kp HOME   &kp END  &mt RCTRL DELETE
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
