#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mt {
    quick-tap-ms = <220>;
    flavor = "balanced";
};

&lt { quick-tap-ms = <220>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    esc_tilde: esc_tilde {
        compatible = "zmk,behavior-mod-morph";
        label = "ESC_TILDE";
        bindings = <&kp ESC>, <&kp TILDE>;

        #binding-cells = <0>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    behaviors {
    };

    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&soft_off>;
            key-positions = <14 28 40>;
            layers = <4>;
        };

        grave {
            bindings = <&kp GRAVE>;
            key-positions = <0 13>;
            layers = <0>;
        };

        L1_toggle {
            bindings = <&tog 1>;
            key-positions = <56 57 55>;
            layers = <0 1>;
        };

        L2_toggle {
            bindings = <&tog 2>;
            key-positions = <59 60 61>;
            layers = <0 2>;
        };

        L3 {
            bindings = <&mo 4>;
            key-positions = <56 53>;
        };

        exclm {
            bindings = <&kp EXCLAMATION>;
            key-positions = <14 27>;
            layers = <0>;
        };

        at {
            bindings = <&kp AT>;
            key-positions = <15 28>;
            layers = <0>;
        };

        hash {
            bindings = <&kp HASH>;
            key-positions = <16 29>;
            layers = <0>;
        };

        dollar {
            bindings = <&kp DOLLAR>;
            key-positions = <17 30>;
            layers = <0>;
        };

        percent {
            bindings = <&kp PERCENT>;
            key-positions = <18 31>;
            layers = <0>;
        };

        caret {
            bindings = <&kp CARET>;
            key-positions = <20 33>;
            layers = <0>;
        };

        amp {
            bindings = <&kp AMPERSAND>;
            key-positions = <21 34>;
            layers = <0>;
        };

        star {
            bindings = <&kp ASTERISK>;
            key-positions = <22 35>;
            layers = <0>;
        };

        l_paren {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <23 36>;
            layers = <0>;
        };

        r_paren {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <24 37>;
            layers = <0>;
        };

        eq_arrow {
            bindings = <&eq_arrow>;
            key-positions = <62 49>;
            layers = <0>;
        };

        arrow {
            bindings = <&arrow>;
            key-positions = <63 49>;
            layers = <0>;
        };

        f1_comb {
            bindings = <&kp F1>;
            key-positions = <1 14>;
            layers = <0>;
        };

        f2_comb {
            bindings = <&kp F2>;
            key-positions = <15 2>;
            layers = <0>;
        };

        f3_comb {
            bindings = <&kp F3>;
            key-positions = <3 16>;
            layers = <0>;
        };

        f4_comb {
            bindings = <&kp F4>;
            key-positions = <4 17>;
            layers = <0>;
        };

        f5_comb {
            bindings = <&kp F5>;
            key-positions = <5 18>;
            layers = <0>;
        };

        f6_comb {
            bindings = <&kp F6>;
            key-positions = <7 20>;
            layers = <0>;
        };

        f7_comb {
            bindings = <&kp F7>;
            key-positions = <8 21>;
            layers = <0>;
        };

        f8_comb {
            bindings = <&kp F8>;
            key-positions = <9 22>;
            layers = <0>;
        };

        f9_comb {
            bindings = <&kp F9>;
            key-positions = <10 23>;
            layers = <0>;
        };

        f10_comb {
            bindings = <&kp F10>;
            key-positions = <11 24>;
            layers = <0>;
        };

        f11_step_into {
            bindings = <&kp F11>;
            key-positions = <12 25>;
            layers = <0>;
        };

        f12_debug {
            bindings = <&kp F12>;
            key-positions = <11 12>;
            layers = <0>;
        };

        L_BRACKET {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <34 35>;
        };

        R_BRACKET {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <35 36>;
        };

        equal_and_plus {
            bindings = <&kp EQUAL>;
            key-positions = <21 22>;
        };

        minus_and_underscore {
            bindings = <&kp MINUS>;
            key-positions = <23 22>;
        };

        c_end {
            bindings = <&kp END>;
            key-positions = <48 49>;
        };

        c_home {
            bindings = <&kp HOME>;
            key-positions = <48 47>;
        };
    };

    macros {
        arrow: arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp MINUS &kp GT>;
            label = "ARROW";
        };

        eq_arrow: eq_arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp GT>;
            label = "EQ_ARROW";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        QWERTY {
            bindings = <
&esc_tilde      &kp N1        &kp N2        &kp N3        &kp N4       &kp N5         &kp C_VOL_UP          &kp N6  &kp N7      &kp N8      &kp N9       &kp N0           &kp BACKSPACE
&kp TAB         &kp Q         &kp W         &kp E         &kp R        &kp T          &kp C_VOLUME_DOWN     &kp Y   &kp U       &kp I       &kp O        &kp P            &kp BSLH
&kp LEFT_SHIFT  &mt LSHIFT A  &mt LCTRL S   &mt LGUI D    &mt LALT F   &kp G          &kp C_BRIGHTNESS_DEC  &kp H   &mt RALT J  &mt RGUI K  &mt RCTRL L  &mt RSHIFT SEMI  &kp APOS
&kp LCTRL       &kp Z         &kp X         &kp C         &kp V        &kp B          &kp C_BRIGHTNESS_INC  &kp N   &kp M       &kp COMMA   &kp DOT      &kp FSLH         &kp ENTER
&none           &mo 3         &kp LEFT_GUI  &kp LEFT_ALT  &lt 1 SPACE  &lt 2 ENTER    &kp INS               &mo 2   &mo 1       &kp DEL     &kp PAGE_UP  &kp PAGE_DOWN
            >;

            display-name = "L0";
        };

        NUMS {
            bindings = <
&trans  &kp F1       &kp F2    &kp F3         &kp F4  &kp F5       &mmv MOVE_UP     &none   &kp KP_NUMLOCK   &kp SLASH        &kp ASTERISK     &kp KP_MINUS  &trans
&trans  &kp PAGE_UP  &kp UP    &kp PAGE_DOWN  &trans  &kp LANG1    &mmv MOVE_DOWN   &none   &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_PLUS   &trans
&trans  &kp LEFT     &kp DOWN  &kp RIGHT      &trans  &kp LANG2    &mmv MOVE_LEFT   &none   &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp ENTER     &trans
&trans  &trans       &trans    &trans         &trans  &kp LANG3    &mmv MOVE_RIGHT  &none   &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp ENTER     &trans
&trans  &trans       &trans    &trans         &trans  &trans       &mkp LCLK        &trans  &trans           &kp KP_NUMBER_0  &kp KP_N0        &kp KP_DOT
            >;

            display-name = "L1";
        };

        vim-mo {
            bindings = <
&trans  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5       &mmv MOVE_UP     &kp F6    &kp F7    &kp F8   &kp F9     &kp F10    &kp F11
&trans  &trans  &trans  &trans  &trans  &kp LANG1    &mmv MOVE_DOWN   &trans    &trans    &trans   &trans     &trans     &kp F12
&trans  &trans  &trans  &trans  &trans  &kp LANG2    &mmv MOVE_LEFT   &kp LEFT  &kp DOWN  &kp UP   &kp RIGHT  &kp ENTER  &trans
&trans  &trans  &trans  &trans  &trans  &kp LANG3    &mmv MOVE_RIGHT  &trans    &kp HOME  &kp END  &trans     &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans       &mkp LCLK        &trans    &trans    &trans   &trans     &trans
            >;

            display-name = "L2";
        };

        FUN {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans   &trans  &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &kp INS  &trans  &kp PSCRN  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans   &trans  &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans   &trans  &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans   &trans  &trans
            >;

            label = "L3";
        };

        BT {
            bindings = <
&trans  &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      &mmv MOVE_UP     &trans           &trans           &trans           &trans           &trans       &trans
&trans  &bt BT_CLR    &bt BT_CLR_ALL  &trans        &trans        &trans            &mmv MOVE_DOWN   &rgb_ug RGB_ON   &rgb_ug RGB_EFF  &rgb_ug RGB_BRI  &rgb_ug RGB_SPI  &trans       &trans
&trans  &out OUT_USB  &out OUT_BLE    &trans        &trans        &studio_unlock    &mmv MOVE_LEFT   &rgb_ug RGB_OFF  &rgb_ug RGB_EFR  &rgb_ug RGB_BRD  &rgb_ug RGB_SPD  &trans       &trans
&trans  &sys_reset    &trans          &bootloader   &trans        &trans            &mmv MOVE_RIGHT  &trans           &trans           &sys_reset       &soft_off        &bootloader  &trans
&trans  &trans        &trans          &trans        &trans        &trans            &mkp LCLK        &trans           &trans           &trans           &trans           &trans
            >;

            display-name = "BT";
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
