#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mt {
    quick-tap-ms = <175>;
    flavor = "balanced";
};

&lt { quick-tap-ms = <175>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    esc_tilde: esc_tilde {
        compatible = "zmk,behavior-mod-morph";
        label = "ESC_TILDE";
        bindings = <&kp ESC>, <&kp TILDE>;

        #binding-cells = <0>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    behaviors {
    };

    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&soft_off>;
            key-positions = <14 28 40>;
            layers = <3>;
        };

        L1_toggle {
            bindings = <&tog 1>;
            key-positions = <56 57 55>;
            layers = <0 1>;
        };

        L2_toggle {
            bindings = <&tog 2>;
            key-positions = <59 60 61>;
            layers = <0 2>;
        };

        L3_SYS {
            bindings = <&mo 3>;
            key-positions = <56 53>;
        };

        exclm {
            bindings = <&kp EXCLAMATION>;
            key-positions = <14 27>;
            layers = <0>;
        };

        at {
            bindings = <&kp AT>;
            key-positions = <15 28>;
            layers = <0>;
        };

        hash {
            bindings = <&kp HASH>;
            key-positions = <16 29>;
            layers = <0>;
        };

        dollar {
            bindings = <&kp DOLLAR>;
            key-positions = <17 30>;
            layers = <0>;
        };

        percent {
            bindings = <&kp PERCENT>;
            key-positions = <18 31>;
            layers = <0>;
        };

        caret {
            bindings = <&kp CARET>;
            key-positions = <20 33>;
            layers = <0>;
        };

        amp {
            bindings = <&kp AMPERSAND>;
            key-positions = <21 34>;
            layers = <0>;
        };

        star {
            bindings = <&kp ASTERISK>;
            key-positions = <22 35>;
            layers = <0>;
        };

        l_paren {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <23 36>;
            layers = <0>;
        };

        r_paren {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <24 37>;
            layers = <0>;
        };

        eq_arrow {
            bindings = <&eq_arrow>;
            key-positions = <62 49>;
            layers = <0>;
        };

        arrow {
            bindings = <&arrow>;
            key-positions = <63 49>;
            layers = <0>;
        };

        L_BRACKET {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <34 35>;
            require-prior-idle-ms = <120>;
        };

        R_BRACKET {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <35 36>;
            require-prior-idle-ms = <120>;
        };

        equal_and_plus {
            bindings = <&kp EQUAL>;
            key-positions = <21 22>;
            require-prior-idle-ms = <120>;
        };

        minus_and_underscore {
            bindings = <&kp MINUS>;
            key-positions = <23 22>;
            require-prior-idle-ms = <120>;
        };

        c_end {
            bindings = <&kp END>;
            key-positions = <48 49>;
            require-prior-idle-ms = <120>;
        };

        c_home {
            bindings = <&kp HOME>;
            key-positions = <48 47>;
            require-prior-idle-ms = <120>;
        };

        combo_bksp {
            bindings = <&kp BACKSPACE>;
            key-positions = <22 23 21>;
        };

        combo_delete {
            bindings = <&kp DEL>;
            key-positions = <35 36 34>;
        };

        combo_esc {
            bindings = <&kp ESC>;
            key-positions = <16 17>;
        };

        combo_tab {
            bindings = <&kp TAB>;
            key-positions = <29 30>;
        };

        EN_lang {
            bindings = <&kp LANG2>;
            key-positions = <56 31>;
        };

        RU_lang {
            bindings = <&kp LANG3>;
            key-positions = <56 44>;
        };

        UA_lang {
            bindings = <&kp LANG1>;
            key-positions = <56 18>;
        };
    };

    macros {
        arrow: arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp MINUS &kp GT>;
            label = "ARROW";
        };

        eq_arrow: eq_arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp GT>;
            label = "EQ_ARROW";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        QWERTY {
            bindings = <
&kp GRAVE       &kp N1        &kp N2        &kp N3        &kp N4       &kp N5         &kp C_VOL_UP       &kp N6  &kp N7  &kp N8     &kp N9         &kp N0           &kp BACKSPACE
&kp TAB         &kp Q         &kp W         &kp E         &kp R        &kp T          &kp C_VOLUME_DOWN  &kp Y   &kp U   &kp I      &kp O          &kp P            &kp BSLH
&kp LEFT_SHIFT  &mt LSHIFT A  &mt LCTRL S   &mt LGUI D    &mt LALT F   &kp G          &kp C_POWER        &kp H   &kp J   &kp K      &kp L          &mt RSHIFT SEMI  &kp APOS
&kp LCTRL       &kp Z         &kp X         &kp C         &kp V        &kp B          &kp K_CMENU        &kp N   &kp M   &kp COMMA  &mt RCTRL DOT  &kp FSLH         &kp ENTER
&none           &kp LEFT_GUI  &kp LEFT_GUI  &kp LEFT_ALT  &lt 1 SPACE  &lt 2 ENTER    &kp K_CALC         &mo 2   &mo 1   &kp DEL    &kp PAGE_DOWN  &kp PAGE_UP
            >;

            display-name = "L0";
        };

        NUMS {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans       &mmv MOVE_UP     &none   &none   &kp KP_SLASH  &kp KP_ASTERISK  &kp KP_MINUS  &trans
&trans  &kp N1  &kp N4  &kp N7  &kp N0  &kp LANG1    &mmv MOVE_DOWN   &none   &kp N7  &kp N8        &kp N9           &kp KP_PLUS   &trans
&trans  &kp N2  &kp N5  &kp N8  &trans  &kp LANG2    &mmv MOVE_LEFT   &none   &kp N4  &kp N5        &kp N6           &kp ENTER     &trans
&trans  &kp N3  &kp N6  &kp N9  &trans  &kp LANG3    &mmv MOVE_RIGHT  &none   &kp N1  &kp N2        &kp N3           &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans       &mkp LCLK        &trans  &trans  &kp N0        &kp N0           &kp DOT
            >;

            display-name = "NUM";
        };

        vim-mo_fun {
            bindings = <
&trans  &trans  &trans  &trans  &trans   &trans    &mmv MOVE_UP     &trans      &trans         &trans         &trans     &trans     &trans
&trans  &kp F1  &kp F4  &kp F7  &kp F10  &trans    &mmv MOVE_DOWN   &trans      &trans         &kp INS        &trans     &kp PSCRN  &trans
&trans  &kp F2  &kp F5  &kp F8  &kp F11  &trans    &mmv MOVE_LEFT   &kp LEFT    &kp DOWN       &kp UP         &kp RIGHT  &kp ENTER  &trans
&trans  &kp F3  &kp F6  &kp F9  &kp F12  &trans    &mmv MOVE_RIGHT  &kp KP_NUM  &kp PAGE_DOWN  &kp PAGE_DOWN  &trans     &trans     &trans
&trans  &trans  &trans  &trans  &trans   &trans    &mkp LCLK        &trans      &trans         &trans         &trans     &trans
            >;

            display-name = "VIM_F";
        };

        SYS {
            bindings = <
&trans  &bt BT_SEL 0  &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      &mmv MOVE_UP     &trans           &trans           &trans           &trans           &trans       &trans
&trans  &bt BT_CLR    &bt BT_CLR_ALL  &trans        &trans        &trans            &mmv MOVE_DOWN   &rgb_ug RGB_ON   &rgb_ug RGB_EFF  &rgb_ug RGB_BRI  &rgb_ug RGB_SPI  &trans       &trans
&trans  &out OUT_USB  &out OUT_BLE    &trans        &trans        &studio_unlock    &mmv MOVE_LEFT   &rgb_ug RGB_OFF  &rgb_ug RGB_EFR  &rgb_ug RGB_BRD  &rgb_ug RGB_SPD  &trans       &trans
&trans  &sys_reset    &trans          &bootloader   &trans        &trans            &mmv MOVE_RIGHT  &trans           &trans           &sys_reset       &soft_off        &bootloader  &trans
&trans  &trans        &trans          &trans        &trans        &trans            &mkp LCLK        &trans           &trans           &trans           &trans           &trans
            >;

            display-name = "SYS";
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
